.SearchResult {
    & > * > * > * {
        transition: color 0.25s;
    }
    &:hover {
        background-color: #FFF;
        transform: scale(1.05);
        & > * > * > * {
            color: black;
        }
    }
    &:active {
        transform: scale(1);
    }
    transition: color 0.25s var(--out-cubic), background-color 0.25s var(--out-cubic), transform 0.25s var(--out-back);
}